---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Content as Experience } from "./base.md";
import ExternalLink from "@components/ExternalLink.astro";
import { createOpenGraph } from "@utils/create-open-graph";
import ResumeItems from "./ResumeItems.astro";

const pageTitle: string = "Curriculum Vitae";
const description: string =
  "Elke Heymans - Fullstack developer. Full CV, experience, and contact information.";
const openGraph = createOpenGraph(pageTitle, "/resume", "profile");

const experience = [
  {
    employer: "Sopra Steria Belgium",
    title: "Fullstack development consultant",
    period: "Apr 2018 - Present",
    projects: [
      {
        client: "Meemoo",
        title: "Fullstack Vue & Python Developer",
        period: "Oct 2025 - Present",
        description:
          "Developing new features in the GIVE metadata project by extending the existing Vue frontend and Python backend. In a first stage, I've overhauled a big part of the frontend by adding TypeScript, unit and integration tests with Vitest & Testing Library. The new features that I'm adding concern the visualisation of the speech recognition in audio & video and face recognition in images.",
        tasks: [
          "Developing new features in the GIVE metadata project by extending the existing Vue frontend and Python backend.",
          "Overhauled a big part of the frontend by adding TypeScript, unit and integration tests with Vitest & Testing Library.",
          "Adding the visualisation of the speech recognition in audio & video and face recognition in images.",
        ],
        skills: ["Vue.js", "TypeScript", "Python", "Vitest", "Testing Library"],
      },
      {
        client: "Sopra Steria Belgium",
        title: "Practice Lead Development",
        period: "Sep 2023 - Dec 2024",
        description:
          "As Practice Lead of the Bold team, I work alongside our full-stack web development consultants to enhance their professional growth. Together, we strive to deliver exceptional web applications that elevate our clients' customer experiences. Our core commitment lies in cultivating a culture of knowledge exchange, continuous learning, and positive workplace ambiance; thus maximizing the capabilities of our development team by fostering an environment where everyone's talents can flourish.",
        skills: ["Management", "Knowledge sharing"],
      },
      {
        client: "Securex",
        title: "Frontend React Developer",
        period: "May 2023 - Sep 2025",
        projects: [
          {
            title: "MyDoc project",
            period: "Apr 2023 - Sep 2025",
            tasks: [
              "Migrated existing features of Mendix application to React application",
              "Improved mobile friendly version",
              "Integrated PDF viewer",
            ],
          },
          {
            title: "MyDimona project",
            tasks: [
              "Implemented new features in React application",
              "Improved performance on page with possible 1000+ dynamic input fields",
              "Redesigned the architecture of the state management",
            ],
          },
          {
            title: "Onboarding project",
            tasks: [
              "Integrated SurveyJS with custom styling",
              "Negotiated about functionality",
            ],
          },
          {
            title: "Other projects, NX monorepository and design systems",
            tasks: [
              "Code reviewed and coached other frontend developers",
              "Implemented new features in the 3 design systems and extended the use of Storybook",
              "Enforced best practices and improved test coverage",
              "Set up new React applications and setup GitHub Actions",
              "NX and package upgrades",
              "Bugfixing and improvements on 15+ other projects in the monorepo",
            ],
          },
        ],
      },
      {
        client: "Politie Zone Antwerpen",
        title: "Fullstack React & Node.js Developer",
        period: "Jul 2022 - Apr 2023",
        tasks: [
          "Implemented new features in the React frontend with its own design system",
          "Implemented new features in the NodeJS backend and NodeJS backend for frontend, implemented with Express.js, RabbitMQ and PostgreSQL",
          "Improved test coverage accross frontend, backend for frontend and backend",
          "Collaborated with designers and discussed with stakeholders",
        ],
      },
      {
        client: "D'ieteren",
        title: "Frontend Vue Developer",
        period: "Oct 2019 - Sep 2022",
        tasks: [
          "Coached other frontend developers",
          "Introduced unit tests",
          "Did massive code migrations (Vue 2 to Vue 3, Vuex to Pinia, Webpack to Vite)",
          "Negotiated with the client about features",
          "Collaborated with UX/UI designers",
          "Improved the loading time of the website by using Lighthouse",
          "Implemented SEO improvements",
          "Added Google Analytics tracking",
          "Helped the integration of new data to be shown on the websites",
        ],
      },
      {
        client: "Port of Antwerp",
        title: "Frontend Angular Developer",
        period: "Mar 2019 - Jan 2020",
        projects: [
          {
            title: "Vessel Trafic Image project",
            period: "Mar 2019 - Jul 2019",
            tasks: [
              "Set up the greenfield project in Angular, working alongside designer and Java backender",
              "Integrated Leaflet to draw map of incoming shipping vessels to port of Antwerp",
              "Managed data with RxJS that was retrieved via Server-Sent Events",
              "Achieved live view of all positions, direction, speed and information of shipping vessels",
            ],
          },
          {
            title: "RheinPorts project",
            period: "Jun 2019 - Aug 2019",
            tasks: [
              "Finalised development of Angular application, used by all ports along the Rhein river in France, Germany and Switzerland",
            ],
          },
          {
            title: "Apics Mobile project",
            period: "Sep 2019 - Jan 2020",
            tasks: [
              "Continued development of Angular application, used by the port of Antwerp for Belgian vessel traffic",
              "Migrated to Angular PWA",
              "Introduced mobile friendly styling",
            ],
          },
        ],
      },
      {
        client: "MLOZ",
        title: "Frontend Angular Developer",
        period: "Jan 2019 - Feb 2019",
        tasks: [
          "Worked away the backlog",
          "Kickstarted implementation of new features",
          "Coached junior developers on the project",
        ],
      },
      {
        client: "Wolters Kluwer",
        title: "Frontend Angular Developer",
        period: "Aug 2018 - Nov 2018",
        tasks: [
          "Code reviewed the existing Angular application",
          "Developed new pages with the Syncfusion component library",
          "Restyled the application to better fit the style guide",
          "Increased test coverage and introduced e2e tests",
        ],
      },
      {
        client: "Liantis",
        title: "Frontend Angular Developer",
        period: "May 2018 - Jul 2018",
        tasks: [
          "Developed new design system in scope of rebranding ADMB, Zenito & Provikmo to Liantis",
          "Integrated design system into the new Angular website portal for their clients to existing applications",
        ],
      },
    ],
  },
  {
    employer: "AG Insurance",
    title: "Fullstack Developer",
    period: "Apr 2014 - Mar 2018",
    description:
      "Worked in the IS .NET Expertise Center team where we developed multiple .NET projects as Fullstack developers for internal use.",
    skills: [
      "ASP.Net MVC 5",
      "C#",
      "SQL Server",
      "HTML5",
      "CSS3",
      "jQuery",
      "AngularJS",
      "Bootstrap",
      "XML",
      "JSON",
      "TFS",
    ],
    projects: [
      {
        title: "DB2P",
        role: "Fullstack Developer",
        tasks: [
          "Extended the features in the ASP.NET web app",
          "Extended the features of batch projects that ran every night",
          "Improved SQL Server queries to decrease the runtime of the batches",
        ],
      },
      {
        title: "CostModel",
        role: "",
        tasks: [
          "Extended the features in the ASP.NET web app",
          "Extended the features of batch projects that ran every night",
          "Managed my own budget and time with stakeholder negotiations and reporting to management",
        ],
      },
      {
        title: "MyAG",
        role: "",
        tasks: [
          "Extended the features in the ASP.NET MVC 5 web application",
          "Technical analysis of the integration of COBOL mainframe data into our own SOAP services",
          "Coached new developers on the project",
        ],
      },
      {
        title: "HypoSimul",
        role: "",
        tasks: [
          "Greenfield ASP.Net MVC5 web application with AngularJS frontend and SQL Server database",
          "Designed the architecture",
          "Negotiations with stakeholders",
          "Managed the developers on the project",
        ],
      },
    ],
  },
  {
    employer: "Vrije Universiteit Brussel",
    title: "Android Programmer",
    period: "Oct 2013 - Jan 2014",
    description:
      "Worked on project with Android devices (tablets and smartphones). General goal was creating good user interfaces with dynamic elements in a web application.",
    skills: [
      "Java",
      "Android SDK",
      "XML",
      "HTML5",
      "CSS3",
      "JavaScript",
      "XSLT",
    ],
  },
  {
    employer: "Self-employed",
    title: "Photographer",
    period: "Feb 2017 - Oct 2023",
    description:
      "Photography as a second job. I did assignments for clients during my spare time with a focus on event photography, weddings, parties & photoshoots. Assignments can be coverage of weddings, parties, company events or photoshoots. For this job, I had built an online portfolio that is no longer available. It was built in Angular 5 and the code can be found on http://github.com/ElkeCodes/ElkePhotos",
    skills: ["Photography", "Angular 5", "SASS", "jQuery"],
  },
];
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  openGraph={openGraph}
  wide={true}
>
  <h2>Summary</h2>
  <p>
    My career started in 2013 after graduating with a Bachelors and Masters in
    Computer Science. I first started out as an Android developer for a small
    project at university. After that I worked as a fullstack .NET developer for
    4 years, which greatly improved my knowledge of all kinds of aspects of a
    job in IT. Since 2018, I went into consultancy where I had the opportunity
    to further expand my frontend knowledge with projects in Angular, Vue and
    React. As a consultant, I've worked for 7 clients for a total of more than
    20 projects.
  </p>
  <p>
    In my career spanning 12 years, I've grown to a senior profile with a lot of
    different expertises. I currently brand myself as a fullstack developer with
    deeper knowledge of frontend. I've seen all aspects of a typical IT project:
    idea brainstorming, estimating costs, designing the architecture, setting up
    the tools and repositories, implementation of new features, bugfixing,
    testing, deployments, and so on. This combined with a love of learning new
    technologies and staying up to date in the everchanging world of frontend,
    makes me a very interesting asset in your team.
  </p>
  <p>
    You can find me on <ExternalLink
      href="https://www.linkedin.com/in/elkeheymans/"
      target="_blank">LinkedIn</ExternalLink
    > and check out my <ExternalLink
      href="https://github.com/elkecodes"
      target="_blank">GitHub</ExternalLink
    >.
  </p>
  <!-- <Experience /> -->
  <ResumeItems items={experience} />
</BaseLayout>
