---
import BaseLayout from "@layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "About Me";

const identity = {
  firstName: "Elke",
  country: "Belgium",
  occupation: "Frontend developer",
  hobbies: ["photography", "Dungeons & Dragons", "running"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "TypeScript",
  "Vue",
  "Nx",
];
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 3 && (
        <li>
          Three of my hobbies are: {identity.hobbies[0]}, {identity.hobbies[1]} and {identity.hobbies[2]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <p>and since creating this website: Astro!</p>
</BaseLayout>
