---
import BaseLayout from "@layouts/BaseLayout.astro";
import "../../styles/global.css";
import { getSecret } from "astro:env/server";
import ExternalLink from "@components/ExternalLink.astro";
import { createOpenGraph } from "@utils/create-open-graph";

const pageTitle: string = "Rendez-vous with Cassidoo";
const description: string = "Elke's journey solving Cassidoo's weekly interview questions in TypeScript.";
const openGraph = createOpenGraph(pageTitle, "/coding/rendez-vous-with-cassidoo");

const apiURL = `https://api.github.com/repos/ElkeCodes/rendezvous-with-cassidoo-interview-questions`;
const options = {
  headers: {
    Accept: "application/vnd.github+json",
    Authorization: `Bearer ${getSecret("GITHUB_PERSONAL_ACCESS_TOKEN")}`,
    "X-GitHub-Api-Version": "2022-11-28",
  },
};
const weeksDirectoryResponse = await fetch(
  `${apiURL}/contents/src/days/`,
  options
);
const solvedWeeks = (
  (await weeksDirectoryResponse.json()) as Array<{
    name: string;
    html_url: string;
    tags: Array<string>;
  }>
).filter(({ name }) => name !== "shared");

const getWeek = (name: string): string => name.substring(0, name.indexOf("-"));
const lastWeek = parseInt(
  getWeek(solvedWeeks.at(solvedWeeks.length - 1)!.name),
  10
);
const completionPercentage = Math.floor((solvedWeeks.length / lastWeek) * 100);
---

<BaseLayout pageTitle={pageTitle} description={description} openGraph={openGraph}>
  <p>
    I love challenging myself with code puzzles. After being subscribed for
    years, I've decided to start solving all the interview questions (she sends
    one per <ExternalLink href="https://cassidoo.co/newsletter/"
      >weekly newsletter</ExternalLink
    >). This is a big project as she has passed 400 sent newsletters and still
    actively sending new ones out.
  </p>
  <p>
    All code is solved in TypeScript and is run in vitest. You can find the
    specific week solved in the table below. At the moment, I have solved {
      completionPercentage
    }% of the questions.
  </p>
  <div class="completion-progress">
    <label for="cassidooCompletion">Completion progress:</label>
    <progress id="cassidooCompletion" value={solvedWeeks.length} max={lastWeek}>
      {completionPercentage}%
    </progress>
  </div>
  <table>
    <thead>
      <tr>
        <th>Week</th><th>Code</th>
      </tr>
    </thead>
    <tbody>
      {
        solvedWeeks.map(({ name, html_url }) => (
          <tr>
            <td>{getWeek(name)}</td>
            <td>
              <ExternalLink href={html_url}>{name}</ExternalLink>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</BaseLayout>

<style>
  .completion-progress {
    margin-bottom: 2rem;
  }
</style>
