---
import BaseLayout from "@layouts/BaseLayout.astro";
import "../../styles/global.css";
import { getSecret } from "astro:env/server";

const pageTitle = "Rendez-vous with Cassidoo";

const apiURL = `https://api.github.com/repos/ElkeCodes/rendezvous-with-cassidoo-interview-questions`;
const options = {
  headers: {
    Accept: "application/vnd.github+json",
    Authorization: `Bearer ${getSecret("GITHUB_PERSONAL_ACCESS_TOKEN")}`,
    "X-GitHub-Api-Version": "2022-11-28",
  },
};
const weeksDirectoryResponse = await fetch(
  `${apiURL}/contents/src/days/`,
  options
);
const solvedWeeks = (
  (await weeksDirectoryResponse.json()) as Array<{
    name: string;
    html_url: string;
    tags: Array<string>;
  }>
).filter(({ name }) => name !== "shared");

// const getTagsAndPutIntoWeeksData = (
//   content: string,
//   name: string
// ): Array<string> => {
//   const tagsLine = content
//     .split("\n")
//     .find((line) => line.startsWith("Tags: "));
//   if (tagsLine) {
//     const tags = tagsLine.replace("Tags: ", "").split(", ");
//     const week = weeksData.find(({ name: weekName }) => weekName === name);
//     if (week) {
//       week.tags = tags;
//     }
//     return tags;
//   }
//   return [];
// };

// const tags = [
//   ...new Set(
//     (
//       await Promise.all(
//         weeksData.slice(0, 3).map(({ name }) =>
//           fetch(`${apiURL}/readme/src/weeks/${name}`, options)
//             .then((response) => response.json())
//             .then(({ content }) => atob(content))
//             .then((content) => getTagsAndPutIntoWeeksData(content, name))
//         )
//       )
//     ).flat()
//   ),
// ];

const getWeek = (name: string): string => name.substring(0, name.indexOf("-"));

const lastWeek = parseInt(
  getWeek(solvedWeeks.at(solvedWeeks.length - 1)?.name || "0-foo"),
  10
);
const completionPercentage = Math.floor((solvedWeeks.length / lastWeek) * 100);
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    I love challenging myself with code puzzles. After being subscribed for
    years, I've decided to start solving all the interview questions (she sends
    one per <a href="https://cassidoo.co/newsletter/" target="_blank"
      >weekly newsletter</a
    >). This is a big project as she has passed 400 sent newsletters and still
    actively sending new ones out.
  </p>
  <p>
    All code is solved in TypeScript and is run in vitest. You can find the
    specific week solved in the table below. At the moment, I have solved {
      completionPercentage
    }% of the questions.
  </p>
  <div class="completion-progress">
    <label for="cassidooCompletion">Completion progress:</label>
    <progress id="cassidooCompletion" value={solvedWeeks.length} max={lastWeek}>
      {completionPercentage}%
    </progress>
  </div>
  <table>
    <thead>
      <tr
        ><th>Week</th><th>Code</th>
        <!-- <th>Tags</th> -->
      </tr>
    </thead>
    <tbody>
      {
        solvedWeeks.map(({ name, html_url }) => (
          <tr>
            <td>{getWeek(name)}</td>
            <td>
              <a href={html_url} target="_blank">
                {name}
              </a>
            </td>
            {/* <td>
              <ul class="tags">
                {tags.map((tag) => (
                  <li class="tag">{tag}</li>
                ))}
              </ul>
            </td> */}
          </tr>
        ))
      }
    </tbody>
  </table>
</BaseLayout>

<style>
  .completion-progress {
    margin-bottom: 2rem;
  }
  .tags {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
  }
  .tags .tag {
    border-radius: 1rem;
  }
</style>
