---
import Introduction from "@components/Introduction.astro";
import Tags from "@components/Tags.astro";
import BaseLayout from "./BaseLayout.astro";
import BackToTop from "@components/BackToTop.svelte";
import TableOfContents from "@components/TableOfContents.astro";
import type { MarkdownHeading } from "astro";
import { formatDate } from "@utils/format-date";

const { data, openGraph, headings } = Astro.props;

const headingsWithPostTitle: MarkdownHeading[] = [
  {
    slug: "title",
    depth: 1,
    text: data.title,
  },
  ...headings,
];
---
<BaseLayout
  pageTitle={data.title}
  openGraph={openGraph}
  description={data.shortDescription}
>
  <p><em>{data.description}</em></p>
  <p class="publication-date">
    Published on: {formatDate(data.pubDate)}
  </p>
  <div class="article-with-aside">
    <article>
      <slot />
    </article>
    {
      headings.length > 0 ? (
        <aside>
          <TableOfContents headings={headingsWithPostTitle} />
        </aside>
      ) : null
    }
  </div>
  <BackToTop client:idle />
  <Tags tags={data.tags} />
  <Introduction />
</BaseLayout>

<style>
  .publication-date {
    font-size: var(--font-size-xs);
  }
  .article-with-aside {
    display: grid;
    grid-template-columns: calc(100vw - 2rem) 0;
  }
  @media screen and (min-width: 636px) {
    .article-with-aside {
      grid-template-columns: calc(80ch - 2rem) calc((100vw - 80ch - 2rem) / 2);
      gap: 1rem;
    }
  }
  aside {
    position: sticky;
    top: 0;
    height: min-content;
    overflow: hidden;
    padding-top: 2rem;
  }
</style>
